pandas
langchain-classic
langchain-openai
langchain-core
langchain-experimental
chromadb
sentence-transformers
matplotlib
numpy
flask
flask-cors
markdown
python-dotenv
psycopg2-binary
seaborn
gunicorn==22.0.0
plotly
langgraph
